---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">  
  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>
  
  <svg class="icon i-edit" viewBox="0 0 32 32"
       width="16" height="16" fill="none" stroke="currentcolor"
       stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
    <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"/>
  </svg>
  Last updated on {{ site.time | date: "%b %-d, %Y" }}
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
</article>
